@import './grid.css';
@import './select.css';

@import './sweetalert2.css';

@import 'tailwindcss';
@import  'material-symbols' ;

@source '../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../../storage/framework/views/*.php';
@source '../../**/*.blade.php';
@source '../../**/*.js';
@source '../js/**/*.js';


@plugin "daisyui" {
  themes:
    tailwind --default,
    tailwind-dark --prefersdark;
}

/* ============================================================
   TEMA CLARO
   ============================================================ */
@plugin "daisyui/theme" {
  name: 'tailwind';
  default: true;
  color-scheme: light;

  /* Base */
  --color-base-100: oklch(1 0 0);
  --color-base-200: oklch(0.985 0.002 247.839);
  --color-base-300: oklch(0.967 0.003 264.542);
  --color-base-content: oklch(0.141 0.005 285.823);

  /* Primary — Blue-500 */
  --color-primary: oklch(0.623 0.214 259.815);
  --color-primary-content: oklch(1 0 0);

  /* Secondary — Violet-500 */
  --color-secondary: #93a2b6;
  --color-secondary-content: oklch(1 0 0);

  /* Accent — Fuchsia-500 */
  --color-accent: oklch(0.66 0.23 310.9);
  --color-accent-content: oklch(1 0 0);

  /* Neutral — Zinc-700 */
  --color-neutral: oklch(0.37 0.013 285.805);
  --color-neutral-content: oklch(0.985 0.002 247.839);

  /* Info — Sky-500 */
  --color-info: oklch(0.685 0.169 237.323);
  --color-info-content: oklch(1 0 0);

  /* Success — Green-500 */
  --color-success: oklch(0.696 0.17 162.48);
  --color-success-content: oklch(1 0 0);

  /* Warning — Amber-500 */
  --color-warning: oklch(0.75 0.2 59.64);
  --color-warning-content: oklch(1 0 0);

  /* Error — Red-500 */
  --color-error: oklch(0.637 0.237 25.331);
  --color-error-content: oklch(1 0 0);

  --radius-selector: 0.375rem;
  --radius-field: 0.375rem;
  --radius-box: 0.5rem;
  --border: 0px;

  --alert-color: currentColor;
}

/* ============================================================
   TEMA OSCURO
   ============================================================ */
@plugin "daisyui/theme" {
  name: 'tailwind-dark';
  prefersdark: true;
  color-scheme: dark;

  /* Base */
  --color-base-100: oklch(0.141 0.005 285.823);
  --color-base-200: oklch(0.21 0.006 285.885);
  --color-base-300: oklch(0.274 0.006 286.033);
  --color-base-content: oklch(0.985 0.002 247.839);

  /* Primary — Blue-600 */
  --color-primary: oklch(0.546 0.245 262.881);
  --color-primary-content: oklch(1 0 0);

  /* Secondary — Violet-600 */
  --color-secondary: #6b7b90;
  --color-secondary-content: oklch(1 0 0);

  /* Accent — Fuchsia-600 */
  --color-accent: oklch(0.55 0.24 309.17);
  --color-accent-content: oklch(1 0 0);

  /* Neutral — intercambiado */
  --color-neutral: oklch(0.985 0.002 247.839);
  --color-neutral-content: oklch(0.274 0.006 286.033);

  /* Info — Sky-600 */
  --color-info: oklch(0.588 0.158 241.966);
  --color-info-content: oklch(1 0 0);

  /* Success — Green-600 */
  --color-success: oklch(0.59 0.14 162.57);
  --color-success-content: oklch(1 0 0);

  /* Warning — Amber-600 */
  --color-warning: oklch(0.666 0.179 58.318);
  --color-warning-content: oklch(1 0 0);

  /* Error — Red-600 */
  --color-error: oklch(0.71 0.21 22.42);
  --color-error-content: oklch(1 0 0);

  --radius-selector: 0.375rem;
  --radius-field: 0.375rem;
  --radius-box: 0.5rem;
  --border: 0px;

  --alert-color: currentColor;
}

@custom-variant dark (&:where([data-theme="tailwind-dark"], [data-theme="tailwind-dark"] *));

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* CUSTOM BREAKPOINTS */
  --breakpoint-2xs: 430px;
  --breakpoint-xs: 551px;
}

/*
  El color predeterminado del borde ha cambiado a `currentcolor` en Tailwind CSS v4,
  por lo que hemos añadido estos estilos de compatibilidad para asegurarnos de que todo siga
  teniendo el mismo aspecto que en Tailwind CSS v3.

  Si alguna vez queremos eliminar estos estilos, tendremos que añadir una utilidad de color de borde
  explícita a cualquier elemento que dependa de estos valores predeterminados.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
  }

  /* Solo te aseguras que tu contenedor principal de contenido sí tenga scroll */
  .contenedor-principal-de-tu-app {
      overflow-y: auto;
      height: 100%;
  }

  .search-container input:focus,
  .search-container input:focus-visible,
  .select-search-input:focus,
  .select-search-input:focus-visible,
  .input:focus,
  .input:focus-visible {
    outline: none !important;
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25) !important;
    transition: all .1s ease-in-out !important;
  }

  .input:not(:focus) {
    border-color: #D1D5DC;
  }

  .color-base {
    background-color: #406E9C;
  }

  [data-theme="tailwind-dark"] .color-base {
    background-color: #13243D;
  }

  [data-theme="tailwind-dark"] .input:not(:focus) {
    border-color: #27272A;
  }
}

@layer utilities {
  main .btn,
  input {
    max-height: 34.5px;
  }

  @media(width <= 550px) {
      button.select-trigger, .btn, input {
        padding-block: 20px !important;
      }

      .breadcrumbs, summary, summary + ul a, menu > li:first-of-type > a {
        padding-block: 10px !important;
      }

      fieldset {
        margin-bottom: 10px;
      }

      fieldset > p[data-fv-error] {
        top: 56px;
      }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none !important;
      width: 0px !important;
      background: transparent !important;
  }

  .no-scrollbar {
      -ms-overflow-style: none !important;  /* IE y Edge */
      scrollbar-width: none !important;  /* Firefox */
  }
}

@layer utilities {

  .alert {
    width: 100%;
    display: block;
    text-align: center;
  }

  /* ===== ALERTAS — Modo Claro ===== */
  [data-theme="tailwind"] .alert-warning,
  [data-theme="light"] .alert-warning,
  :root .alert-warning {
    background-color: oklch(98.7% .026 102.212) !important;
    background-image: none !important;
    background-size: unset !important;
    outline: 1px solid oklch(85.2% .199 91.936 / .3) !important;
    box-shadow: none !important;
    color: oklch(47.6% .114 61.907) !important;

    & .tui-icon { color: oklch(85.2% .199 91.936) !important; }
  }

  [data-theme="tailwind"] .alert-error,
  [data-theme="light"] .alert-error,
  :root .alert-error {
    background-color: oklch(97.1% .013 17.38) !important;
    background-image: none !important;
    background-size: unset !important;
    outline: 1px solid oklch(70.4% .191 22.216 / .3) !important;
    box-shadow: none !important;
    color: oklch(44.4% .177 26.899) !important;

    & .tui-icon { color: oklch(70.4% .191 22.216) !important; }
  }

  [data-theme="tailwind"] .alert-success,
  [data-theme="light"] .alert-success,
  :root .alert-success {
    background-color: oklch(98.2% .018 155.826) !important;
    background-image: none !important;
    background-size: unset !important;
    outline: 1px solid oklch(79.2% .209 151.711 / .3) !important;
    box-shadow: none !important;
    color: oklch(44.8% .119 151.328) !important;

    & .tui-icon { color: oklch(79.2% .209 151.711) !important; }
  }

  [data-theme="tailwind"] .alert-info,
  [data-theme="light"] .alert-info,
  :root .alert-info {
    background-color: oklch(97% .014 254.604) !important;
    background-image: none !important;
    background-size: unset !important;
    outline: 1px solid oklch(70.7% .165 254.624 / .3) !important;
    box-shadow: none !important;
    color: oklch(48.8% .243 264.376) !important;

    & .tui-icon { color: oklch(70.7% .165 254.624) !important; }
  }

  /* ===== ALERTAS — Modo Oscuro ===== */
  [data-theme="tailwind-dark"] .alert-warning {
    background-color: oklab(79.5% .0126846 .183562 / .1) !important;
    background-image: none !important;
    background-size: unset !important;
    outline: 1px solid oklab(79.5% .0126846 .183562 / .15) !important;
    box-shadow: none !important;
    color: oklch(97.3% .071 103.193) !important;

    & .tui-icon { color: oklch(90.5% .182 98.111) !important; }
  }

  [data-theme="tailwind-dark"] .alert-error {
    background-color: oklab(63.7% .214213 .1014 / .15) !important;
    background-image: none !important;
    background-size: unset !important;
    outline: 1px solid oklab(63.7% .214213 .1014 / .25) !important;
    box-shadow: none !important;
    color: oklch(88.5% .062 18.334) !important;

    & .tui-icon { color: oklch(70.4% .191 22.216) !important; }
  }

  [data-theme="tailwind-dark"] .alert-success {
    background-color: oklab(72.3% -.18885 .110891 / .1) !important;
    background-image: none !important;
    background-size: unset !important;
    outline: 1px solid oklab(72.3% -.18885 .110891 / .2) !important;
    box-shadow: none !important;
    color: oklch(92.5% .084 155.995) !important;

    & .tui-icon { color: oklch(79.2% .209 151.711) !important; }
  }

  [data-theme="tailwind-dark"] .alert-info {
    background-color: oklab(62.3% -.0378409 -.210628 / .1) !important;
    background-image: none !important;
    background-size: unset !important;
    outline: 1px solid oklab(62.3% -.0378409 -.210628 / .2) !important;
    box-shadow: none !important;
    color: oklch(80.9% .105 251.813) !important;

    & .tui-icon { color: oklch(70.7% .165 254.624) !important; }
  }
}

@layer utilities {

  .material-symbols-rounded {
      opacity: 0;
      font-size: 0 !important;
      transition: opacity 0.15s ease;
  }

  .fonts-loaded .material-symbols-rounded {
      opacity: 1;
      font-size: 20px !important;
  }

  .material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 280,
        'GRAD' 0,
        'opsz' 24;
  }

  .icon-filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 280,
        'GRAD' 0,
        'opsz' 24;
  }
}

/* Ocultar spin buttons nativos */
.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}